{% load static %}
{% load rest_framework %}
{% load tz %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/session.css' %}" /> -->
        <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
        {% render_bundle 'main' css %}
    </head>

    <body>
        <div id="SpotifySong" class="__react-root"></div>

        {{ song_data|json_script:'song_data' }}
        {{ comments|json_script:'comments' }}
        {% render_bundle 'main' js %}
    </body>
</html>
