.row {
    width: 100%
}

.column {
    display: inline-block;
    min-height: 5px;

    &.empty {
        height: 100px;
    }

    &.twelve {
        width: 100%;
    }

    &.ten {
        width: 83.3%;
    }

    &.nine {
        width: 75%;
    }

    &.eight {
        width: 66.6%;
        border-radius: 18%;
    }

    &.six {
        width: 50%;
    }

    &.five {
        width: 41.5%;
    }

    &.four {
        width: 33.3%;        
    }

    &.three {
        width: 25%;
    }

    &.two {
        width: 15.1%;
    }

    &.one {
        width: 8.3%;
    }

    &.content-block {
        // border: 1px solid #F4EDDC;
        border: 1px solid rgba(244, 237, 220, 0.2);
        // border: 1px solid white;
        border-radius: 18%;
        background-color: rgba(0, 0, 0, 0.09);
    }

    &.rectangle-bubble {
        max-height: 50px;
        border-radius: 25px ;
    }

    &.round-corners {
        border: 1px solid rgba(244, 237, 220, 0.2);
        border-radius: 25px;
    }

    &.highlight-background {
        border: 1px solid rgba(244, 237, 220, 0.2);
        background-color: rgba(0, 0, 0, 0.09);
    }
}

.shadow {
    box-shadow: 0.3rem 0.3rem 0.6rem 0 #a9a49bd1, -0.2rem -0.2rem 0.5rem 0 #FFFFFF;
    // box-shadow: -5px -5px 15px 0 rgba(255, 255, 255, 0.8), 5px 5px 15px 0 rgba(0, 0, 0, 0.19);
}

.inverse-shadow {
    box-shadow: -8px -8px 15px 0 rgba(255, 255, 255, 0.8), -8px -8px 15px 0 rgba(0, 0, 0, 0.19);
}

.clickable  {
    cursor: pointer;
}

.clickable:active {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.10);
    border: 1px solid #F4EDDC;
    // box-shadow: 0.3rem 0.3rem 0.6rem 0 #FFFFFF inset, 0.2rem 0.2rem 0.5rem 0 #a9a49bd1 inset !important;
    box-shadow: -5px -5px 10px 0 rgba(255, 255, 255, 0.8) inset, 8px 8px 10px 0 rgba(0, 0, 0, 0.19) inset !important;
}
