.comments-block {
    margin: 0 auto;
    color: #5d5d5d;

    .comment-container {
        width: 100%;

        .comment {
            display: block;
            margin: 0 auto;
            width: 90%;
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0, 0.01);
            color: #5d5d5d;

            .comment-inner {
                margin: 0 auto;
                width: 90%;
                padding: 4% 5%;

                .byline {
                    p {
                        display: inline-block;
        
                        &.author {
                            font-size: .9em;
                            padding-right: 10px;
                            margin: 0px;
                            font-weight: bolder;
                        }
        
                        &.timestamp {
                            padding-left: 10px;
                            color: #777;
                            font-size: .75em;
                            margin: 0px;
                            float: right;
                        }
                    }
                }
        
                .text {
                    p {
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }

            .comment-input {
                resize: none;
                // background-color: #F4EDDC;
                // background-color: rgba(244, 237, 220, 1);
                background-color: rgba(0, 0, 0, 0.01);
                border: 1px solid #F4EDDC;
                border-radius: 20px;
                padding: 4% 5%;
                position: relative;
                width: 90%;
                outline: none;
                color: #5d5d5d;
                box-shadow: -3px -3px 5px 0 rgba(255, 255, 255, 0.8) inset, 3px 3px 5px 0 rgba(0, 0, 0, 0.19) inset !important;
            }

            .submit-button {
                color: #5d5d5d;
                width: 100%;
                padding: 5px 0px;
                font-weight: 800;
                text-align: center;
                cursor: pointer; 
                margin-top: 5px;
            }
        }
    }

}