@import './mixins.scss';

.attribute-div {
    width: 90%;
    margin: 0 auto;
    color: #5d5d5d;
    
    p {
        display: inline-block;
    }

    &.center {
        margin: 0 auto;
        text-align: center;
    }

    &.title {
        padding: 0 5%;
        width: 90%;
        font-weight: bold;

        p {
            margin: 0px;

            &.value-title {
                font-size: 4.5em;
                font-weight: bold;

                @media all and (max-width: $small) {
                    font-size: 1.25em;
                }
                @media all and (min-width: $small) and (max-width: $medium) {
                    font-size: 1.75em;
                }
                @media only screen and (-webkit-min-device-pixel-ratio: 3),
                    only screen and (   min--moz-device-pixel-ratio: 3),
                    only screen and (     -o-min-device-pixel-ratio: 3/1),
                    only screen and (        min-device-pixel-ratio: 3),
                    only screen and (                min-resolution: 460dpi),
                    only screen and (                min-resolution: 3dppx) {
                        font-size: 6.35em;
                        font-weight: bold;
                }
            }

            &.value-artist {    
                font-size: 3.5em;

                @media all and (max-width: $small) {
                    font-size: 1.03em;
                }
                @media all and (min-width: $small) and (max-width: $medium) {
                    font-size: 1.5em;
                }
                @media only screen and (-webkit-min-device-pixel-ratio: 3),
                    only screen and (   min--moz-device-pixel-ratio: 3),
                    only screen and (     -o-min-device-pixel-ratio: 3/1),
                    only screen and (        min-device-pixel-ratio: 3),
                    only screen and (                min-resolution: 460dpi),
                    only screen and (                min-resolution: 3dppx) {
                        font-size: 5.2em;
                }
            }

            .by {
                font-size: 0.9em;
            }
        }

        @media all and (max-width: $medium) {
            font-size: 2em;
        }
        // @media all and (min-width: $small) and (max-width: $medium) {
        //     width: 83.3%;
        // }
        // @media all and (min-width: $medium) {
        //     width: 83.3%;
        // }
    }

    &.image {
        // width: 100%;
        width: 92%;
        padding: 4%;
        
        img {
            border-radius: 20px;
            display: block;
            // padding: 5%;
            // width: 90%;

            // border-radius: 51%;
            width: 100%;
            // border: 10px solid #bfbaae;
            box-sizing: border-box;

            @media only screen and (-webkit-min-device-pixel-ratio: 3),
                only screen and (   min--moz-device-pixel-ratio: 3),
                only screen and (     -o-min-device-pixel-ratio: 3/1),
                only screen and (        min-device-pixel-ratio: 3),
                only screen and (                min-resolution: 460dpi),
                only screen and (                min-resolution: 3dppx) {
                    width: 100%;
                    // width: calc(100% - 2em);
                    height: auto;
                    border-radius: 40px;
                    border-width: 1.25em;
            }
        }
    }

    &.album {
        font-weight: bold;
        
        p {
            margin-top: 15px;
            margin-bottom: 5px;

            .label {
                font-size: 0.8em;
            }

            @media only screen and (-webkit-min-device-pixel-ratio: 3),
                only screen and (   min--moz-device-pixel-ratio: 3),
                only screen and (     -o-min-device-pixel-ratio: 3/1),
                only screen and (        min-device-pixel-ratio: 3),
                only screen and (                min-resolution: 460dpi),
                only screen and (                min-resolution: 3dppx) {
                    font-size: 2.75em;
                    margin-top: 35px;
                    margin-bottom: 25px;
                    display: inline;

                    .label {
                        font-size: 0.8em;
                    }
            }
        }
    }

    &.reported-by {  
        margin-top: 15px;

        @media only screen and (-webkit-min-device-pixel-ratio: 3),
            only screen and (   min--moz-device-pixel-ratio: 3),
            only screen and (     -o-min-device-pixel-ratio: 3/1),
            only screen and (        min-device-pixel-ratio: 3),
            only screen and (                min-resolution: 460dpi),
            only screen and (                min-resolution: 3dppx) {
                .ios-gap {
                    width: 100%;
                    height: 40px;
                }
        }
        
        p {
            margin-top: 0px;
            margin-bottom: 20px;
            font-weight: bolder;
            font-size: 0.9em;

            @media only screen and (-webkit-min-device-pixel-ratio: 3),
                only screen and (   min--moz-device-pixel-ratio: 3),
                only screen and (     -o-min-device-pixel-ratio: 3/1),
                only screen and (        min-device-pixel-ratio: 3),
                only screen and (                min-resolution: 460dpi),
                only screen and (                min-resolution: 3dppx) {
                    font-size: 2.2em;
                    margin-bottom: 40px;
                    display: inline;
            }
        }
    }

    &.link {
        text-align: center;
        font-weight: bolder;

        @media only screen and (-webkit-min-device-pixel-ratio: 3),
            only screen and (   min--moz-device-pixel-ratio: 3),
            only screen and (     -o-min-device-pixel-ratio: 3/1),
            only screen and (        min-device-pixel-ratio: 3),
            only screen and (                min-resolution: 460dpi),
            only screen and (                min-resolution: 3dppx) {
                font-size: 2.25em;
        }
    }
}

.song-form-container {
    height: 100%;
    color: #948d7e;

    .song-form-inner-container {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 48%;
        -ms-transform: translateY(-52%);
        transform: translateY(-52%);

        &.playlist {
            position: relative;
            top: auto;
            transform: translateY(0%);
            -ms-transform: translateY(0%);
        }
        
        .song-form-wrapper {
            display: block;
            margin: 0 auto;
            width: 95%;

            .song-form-inner-wrapper {
                padding: 4% 5%;
                width: 90%;

                .song-form-title {
                    .top {
                        margin-top: 5px;
                        font-size: 2em;
                    }

                    .bottom {
                        font-size: 1.25em;
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3),
                        only screen and (   min--moz-device-pixel-ratio: 3),
                        only screen and (     -o-min-device-pixel-ratio: 3/1),
                        only screen and (        min-device-pixel-ratio: 3),
                        only screen and (                min-resolution: 460dpi),
                        only screen and (                min-resolution: 3dppx) {
                            .top {
                                margin-top: 25px;
                                font-size: 5em;
                            }
        
                            .bottom {
                                font-size: 3.25em;
                            }
                    }
                }
    
                .song-input {
                    position: relative;
                    resize: none;
                    // background-color: #F4EDDC;
                    // background-color: rgba(244, 237, 220, 1);
                    background-color: rgba(0, 0, 0, 0.01);
                    border: 1px solid #F4EDDC;
                    border-radius: 20px;
                    padding: 4% 5%;
                    position: relative;
                    width: 90%;
                    outline: none;
                    color: #948d7e;
                    box-shadow: -3px -3px 5px 0 rgba(255, 255, 255, 0.8) inset, 3px 3px 5px 0 rgba(0, 0, 0, 0.19) inset !important;
                
                    &.login {
                        margin-top: 10px;
                    }

                    &.big {
                        height: 100px;  
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 3),
                        only screen and (   min--moz-device-pixel-ratio: 3),
                        only screen and (     -o-min-device-pixel-ratio: 3/1),
                        only screen and (        min-device-pixel-ratio: 3),
                        only screen and (                min-resolution: 460dpi),
                        only screen and (                min-resolution: 3dppx) {
                            border-radius: 40px;
                            box-shadow: -10px -10px 13px 0 rgba(255, 255, 255, 0.8) inset, 10px 10px 13px 0 rgba(0, 0, 0, 0.19) inset !important;
                            font-size: 2.5em;

                            &.login {
                                margin-top: 30px;
                            }

                            &.big {
                                height: 200px;  
                            }
                    }
                }
            
                .submit-button {
                    color: #5d5d5d;
                    width: 100%;
                    padding: 5px 0px;
                    font-weight: 800;
                    text-align: center;
                    cursor: pointer; 
                    margin-top: 10px;

                    @media only screen and (-webkit-min-device-pixel-ratio: 3),
                        only screen and (   min--moz-device-pixel-ratio: 3),
                        only screen and (     -o-min-device-pixel-ratio: 3/1),
                        only screen and (        min-device-pixel-ratio: 3),
                        only screen and (                min-resolution: 460dpi),
                        only screen and (                min-resolution: 3dppx) {
                            padding: 25px 0px;
                            margin-top: 30px;
                            font-size: 3em;
                    }
                }
            }
        }
    }
}