@import './mixins.scss';

.attribute-div {
    width: 90%;
    margin: 0 auto;
    color: #5d5d5d;
    
    p {
        display: inline-block;
    }

    &.center {
        margin: 0 auto;
        text-align: center;
    }

    &.title {
        padding: 0 5%;
        font-size: 2.5em;
        // text-align: center;
        width: 90%;
        font-weight: bold;
        // padding: 0px 20px 35px 0px;

        p {
            margin: 0px;

            .by {
                font-size: 0.8em;
            }
        }

        @media all and (max-width: $medium) {
            font-size: 2em;
        }
        // @media all and (min-width: $small) and (max-width: $medium) {
        //     width: 83.3%;
        // }
        // @media all and (min-width: $medium) {
        //     width: 83.3%;
        // }
    }

    &.image {
        width: 100%;
        
        img {
            border-radius: 18%;
            display: block;
            padding: 5%;
            width: 90%
        }
    }

    &.album {
        font-weight: bold;
        font-size: 1.5em;
        
        p {
            margin-top: 15px;
            margin-bottom: 5px;

            .label {
                font-size: 0.8em;
            }
        }
    }

    &.reported-by {
        text-align: center;
        
        p {
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }

    &.link {
        text-align: center;
        font-weight: bolder;

    }
}

.song-form-container {
    height: 100%;
    color: #5d5d5d;

    .song-form-inner-container {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 48%;
        -ms-transform: translateY(-52%);
        transform: translateY(-52%);

        .song-form-wrapper {
            display: block;
            margin: 0 auto;
            width: 95%;

            .song-form-inner-wrapper {
                padding: 4% 5%;
                width: 90%;

                .song-form-title {
                    .top {
                        margin-top: 5px;
                        font-size: 2em;
                    }

                    .bottom {
                        font-size: 1.25em;
                    }
                }
    
                .song-input {
                    position: relative;
                    resize: none;
                    // background-color: #F4EDDC;
                    // background-color: rgba(244, 237, 220, 1);
                    background-color: rgba(0, 0, 0, 0.01);
                    border: 1px solid #F4EDDC;
                    border-radius: 20px;
                    padding: 4% 5%;
                    position: relative;
                    width: 90%;
                    outline: none;
                    color: #5d5d5d;
                    box-shadow: -3px -3px 5px 0 rgba(255, 255, 255, 0.8) inset, 3px 3px 5px 0 rgba(0, 0, 0, 0.19) inset !important;
                }
            
                .submit-button {
                    color: #5d5d5d;
                    width: 100%;
                    padding: 5px 0px;
                    font-weight: 800;
                    text-align: center;
                    cursor: pointer; 
                    margin-top: 10px;
                }
            }
        }
    }
}