@import './mixins.scss';

#SpotifySong {
    background-color: #F4EDDC;
}

.attribute-div {
    width: 90%;
    margin: 0 auto;
    color: #5d5d5d;
    
    p {
        display: inline-block;
    }

    &.center {
        margin: 0 auto;
        text-align: center;
    }

    &.title {
        margin: 0 auto;
        font-size: 2.5em;
        text-align: center;
        width: 70%;
        font-weight: bold;
        padding: 50px 20px 35px 20px;

        p {
            margin: 0px;
        }

        @media all and (max-width: $medium) {
            font-size: 2em;
        }
        // @media all and (min-width: $small) and (max-width: $medium) {
        //     width: 83.3%;
        // }
        // @media all and (min-width: $medium) {
        //     width: 83.3%;
        // }
    }

    &.image {
        img {
            border-radius: 18%;
            display: block;
            margin: 0 auto;
            max-width: 75%;
        }
    }

    &.album {
        font-weight: bold;
        font-size: 1.5em;
        
        p {
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }

    &.reported-by {
        text-align: center;
        
        p {
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }

    &.link {
        text-align: center;
        font-weight: bolder;

    }
}

.song-form-container {
    color: #5d5d5d;

    .song-input {
        resize: none;
        // background-color: #F4EDDC;
        // background-color: rgba(244, 237, 220, 1);
        background-color: rgba(0, 0, 0, 0.01);
        border: 1px solid #F4EDDC;
        border-radius: 20px;
        padding: 4% 5%;
        position: relative;
        width: 90%;
        outline: none;
        color: #5d5d5d;
        box-shadow: -3px -3px 5px 0 rgba(255, 255, 255, 0.8) inset, 3px 3px 5px 0 rgba(0, 0, 0, 0.19) inset !important;
    }

    .submit-button {
        color: #5d5d5d;
        width: 100%;
        padding: 5px 0px;
        font-weight: 800;
        text-align: center;
        cursor: pointer; 
        margin-top: 10px;
    }
}